@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* border: 1px solid lightpink; */
}

ul[class],
ol[class] {
  padding: 0;
}

:root {
  --clr-reg: #303030;
  --clr-dark: hsl(0, 0%, 45%);
  --clr-med: hsl(0, 0%, 56%);
  --clr-med-trans: hsla(0, 0%, 56%, 0.5);
  --clr-light-trans: hsla(0, 0%, 56%, 0.3);
  --clr-light: #f7f7f7;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 600;
  --fs-h1: 2rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-h5: 1.125em;
  --fs-reg: 1rem;
  --fs-small: 0.95rem;
  --fs-smaller: 0.9rem;
  --fs-smallest: 0.8rem;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--clr-reg);
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px solid var(--clr-med);
  outline-offset: 3px;
}

/* Typography */
h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0;
}

p {
  font-size: var(--fs-small);
  line-height: 1.75;
}

ul {
  padding-left: 1.25rem;
  padding-bottom: 0.5rem;
}

li {
  font-size: var(--fs-small);
  line-height: 1.75;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
}

li::marker {
  color: var(--clr-med);
}

strong {
  color: var(--clr-med);
}

button {
  background-color: none;
}

/* Header */
.header {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.275rem 0 1.5rem;
  margin: 0 1.75rem;
  border-bottom: 1px solid var(--clr-light-trans);
}

.business-name {
  font-size: var(--fs-h1);
  text-transform: uppercase;
  font-weight: var(--fw-light);
}

.tagline {
  font-size: 1rem;
  text-align: left;
}

@media (min-width: 768px) {
  .header {
    padding: 2.5rem 0 1.75rem;
    margin: 0 2rem;
  }

  .tagline {
    padding-left: 0.1rem;
  }
}

@media (min-width: 1200px) {
  .header {
    display: none;
  }
  .business-name-container {
    position: fixed;
  }
}

/* Nav menu */
/* Background overlay */

/* Fixed left side nav only for screens 1200px and wide */
.side-nav {
  display: none;
}

body.active::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-med-trans);
  opacity: 0.8;
  pointer-events: none;
}

.nav {
  position: fixed;
  background-color: white;
  color: var(--clr-reg);
  border-left: 1px solid var(--clr-med-trans);
  top: 0;
  bottom: 0;
  left: 35%;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.nav-list,
.side-nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2.625rem 0 0;
  padding: 0;
  z-index: 100;
}

.side-nav-list {
  position: fixed;
  align-items: flex-start;
  margin: 5rem 0 0;
}

.nav-item,
.side-nav-item {
  margin-top: 2.75rem;
}

.side-nav-item {
  width: 100%;
}

@media (min-width: 768px) {
  .nav {
    left: 55%;
  }
  .nav-item {
    margin-top: 4rem;
  }
}

.nav-link,
.side-nav-link {
  color: var(--clr-reg);
  font-weight: var(--fw-reg);
  font-size: var(--fs-h4);
  text-decoration: none;
}

.side-nav-link {
  display: inline-block;
  width: 100%;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-light-trans);
}

.side-nav-link:hover {
  color: black;
  border-bottom: 1px solid var(--clr-dark);
}

.nav-toggle {
  padding: 1rem 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 1.2rem;
  top: 1rem;
  z-index: 1000;
  opacity: 1;
  border: 1px solid transparent;
  transition: opacity 500ms;
}

.sticky {
  position: fixed;
  top: 1rem;
  opacity: 0.75;
  background: white;
  border: 1px solid var(--clr-light-trans);
}

.hide {
  visibility: hidden;
}

.nav-open .nav-toggle {
  top: 1.325rem;
  opacity: 1;
  border: 1px solid transparent;
}

.nav-open .nav {
  transform: translateX(0);
  /* box-shadow: -7px 0px 7px 0px rgba(50, 50, 50, 0.1); */
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-med);
  width: 2.5em;
  height: 3px;
  border-radius: 1em;
  transition: transform 200ms;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 7px;
}
.hamburger::after {
  bottom: 7px;
}

.nav-open .hamburger,
.nav-open .hamburger::before,
.nav-open .hamburger::after {
  background: var(--clr-med);
}

.nav-open .nav-toggle.sticky .hamburger {
  background-color: var(--clr-med);
  opacity: 1;
}

.nav-open .nav-toggle {
  position: fixed;
  padding: 1em 0.5em;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-7px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

@media (min-width: 768px) {
  .nav-toggle {
    right: 1.5rem;
    top: 1.25rem;
  }
  .sticky {
    top: 1.5rem;
  }
  .nav-open .nav-toggle {
    top: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .nav-toggle {
    display: none;
  }
}

/* Side nav for screens >= 1200px */
@media (min-width: 1200px) {
  .large-screen-container {
    width: 100%;
    display: flex;
  }
  .side-nav-container {
    width: 310px;
  }
  .side-nav {
    display: block;
    width: inherit;
    height: 100%;
    padding: 2rem 1.5rem;
    border-right: 1px solid var(--clr-light-trans);
    background-color: var(--clr-light);
  }
}

/* About section and slider */
.about {
  padding-bottom: 2rem;
}

.about p {
  padding: 0 1.75rem 0.75rem;
}

.slider {
  display: flex;
  position: relative;
  max-width: 800px;
  min-height: auto;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* border: 1px solid var(--clr-light-trans); */
}

.is-hidden {
  display: none;
}

.is-invisible {
  opacity: 0;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  transition: transform 0.5s;
  background-repeat: no-repeat;
}

.slide-small {
  position: relative;
  width: 85%;
  height: auto;
  margin: auto;
}

.slide-small:after {
  content: 'text';
  position: absolute;
  bottom: 0;
}

.slider-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--clr-med-trans);
  padding: 0.5rem 0.4rem 0.3rem;
  border: none;
  background: transparent;
  font-size: var(--fs-h2);
  transition: 0.3s;
}

.slider-btn:hover {
  color: var(--clr-med);
}

.slider-btn--right {
  right: 0;
}

.artist-title {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -2rem;
  padding: 0.325rem;
  width: 100%;
  font-size: var(--fs-smallest);
}

.dots {
  margin: 0.625rem auto 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-dot {
  border: none;
  height: 1em;
  width: 1em;
  margin: 0 1.25em;
  padding: 0.5em;
  cursor: pointer;
  background: var(--clr-light-trans);
  border-radius: 50%;
  transition: all 0.3s;
}

.dots-dot--active {
  background-color: var(--clr-med);
}

@media (min-width: 768px) {
  .slider {
    margin: 0 auto 1rem;
  }
  .slide-small {
    width: 70%;
  }
  .slider-btn {
    font-size: var(--fs-h1);
    padding: 1.5rem;
  }
  .artist-title {
    bottom: -2.25rem;
    font-size: var(--fs-smaller);
  }
  .dots {
    margin: 0.75rem auto 2rem;
  }
  .about p {
    padding: 0 3.5rem 0.75rem;
  }
}

/* Sections */
.services,
.rates,
.schedule,
.faq,
.contact {
  padding: 2.25rem 1.75rem 2rem;
  border-top: 1px solid var(--clr-light-trans);
  background: white;
  background: linear-gradient(
    0deg,
    rgb(240, 240, 240) 0%,
    rgba(255, 255, 255, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (min-width: 768px) {
  .services,
  .rates,
  .schedule,
  .faq,
  .contact {
    padding: 2.75rem 3.5rem;
  }
}

@media (min-width: 1200px) {
  .services,
  .rates,
  .schedule,
  .faq,
  .contact {
    padding: 3.25rem 4.25rem;
  }
}

.about,
.rates {
  background: white;
}

.about {
  padding-top: 1.275rem;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .about {
    padding-top: 1.5rem;
  }
}

.section-header {
  padding-bottom: 1.375rem;
  color: var(--clr-med);
  text-transform: uppercase;
  border-bottom: 1px solid var(--clr-light-trans);
}

.section-subheader {
  padding: 1.5rem 0 1.25rem;
  color: var(--clr-med);
}

.section-paragraph {
  padding-bottom: 0.75rem;
}

.section-image {
  margin: 1.25rem auto 1rem;
  border: 1px solid var(--clr-light-trans);
}

@media (min-width: 1200px) {
  .section-header {
    font-size: 1.725rem;
  }
}

/* Rates */
.tier-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--clr-light-trans);
  padding: 1.5rem 0 0;
}

.last {
  border-bottom: 1px solid var(--clr-light-trans);
}

.tier-subheader {
  padding: 0.275rem 0 0;
  width: 20%;
  flex-wrap: nowrap;
}

ul.file-format-list {
  padding: 0.5rem 0 1rem 1.25rem;
}

.file-format-list li {
  padding-left: 0.5rem;
}

ul.tier-list {
  width: 70%;
  list-style-type: none;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--clr-light-trans);
}

/* Tier Pricing */
.bold-item {
  font-weight: 600;
  color: var(--clr-dark);
  font-size: var(--fs-reg);
  padding-bottom: 0.75rem;
}

.tier-example-link {
  position: relative;
  padding: 0.875rem 0;
  cursor: pointer;
  margin-left: 30%;
}

.tier-example-link::after {
  content: '\002B';
  font-size: 1.325rem;
  position: absolute;
  left: 4rem;
  top: 0.4875rem;
}

.tier-example-link.active::after {
  content: '\2212';
}

.tier-example-artwork {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-out;
}

.tier-example-artwork-content {
  width: 85%;
  margin: auto;
  padding: 0.5rem 0 2rem;
}

/* Footer */
.footer {
  font-size: var(--fs-smaller);
  color: white;
  background: var(--clr-dark);
  padding: 1.875rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  display: block;
  color: white;
  font-size: inherit;
  text-decoration: none;
  margin-top: 0.5rem;
}

.footer-icon {
  color: white;
  font-size: 1.75rem;
  padding: 0;
  padding-top: 0.2rem;
}

.scroll-arrow {
  color: white;
  font-size: 2.875rem;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .footer {
    padding: 2rem 2.5rem;
  }
  .scroll-arrow {
    font-size: 3rem;
  }
}
/* Scroll to top */
