@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* border: 1px solid lightpink; */
}

ul[class],
ol[class] {
  padding: 0;
}

:root {
  --clr-light-form: #f3f3f3;
  --clr-light-form-darker: #e6e4e4;
  --clr-med-new: #c9c9c9;
  --clr-med-lighter: #d3d7d8;
  --clr-med-light: #b0b4b4;
  --clr-header-med: #787f80;
  --clr-header-wide-lighter: #626666;
  --clr-header-wide-lighter-new: #717677;
  --clr-header-wide: #626868;
  --clr-header-wide-darker: #6a6e6e;
  --clr-reg-dark: #2c2c2c;
  --clr-business-name-bg: #4b4d4e;
  --clr-business-name-bg-darker: #363838;
  --clr-business-name-bg-darkest: #2f3131;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 600;
  --fs-h1: 2rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.175rem;
  --fs-h4: 1.125rem;
  --fs-h5: 1.1em;
  --fs-reg: 1rem;
  --fs-small: 0.975rem;
  --fs-smaller: 0.9rem;
  --fs-smallest: 0.8rem;
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--clr-reg-dark);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--clr-reg-dark);
  font-size: inherit;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px solid var(--clr-header-wide);
  outline-offset: 3px;
}

.hide {
  display: none;
}

/* Typography */
h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0;
}

p,
address {
  font-size: var(--fs-small);
  line-height: 1.65;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul {
  padding-left: 1.25rem;
  padding-bottom: 0.5rem;
}

li {
  font-size: var(--fs-small);
  line-height: 1.75;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
}

@media (min-width: 768px) {
  p,
  li,
  a {
    font-size: var(--fs-reg);
  }
}

li::marker {
  color: var(--clr-header-wide);
}

strong {
  color: var(--clr-header-med);
  background-color: transparent;
}

.bold-text {
  color: var(--clr-business-name-bg);
}

@media (min-width: 768px) {
  strong {
    color: white;
    font-weight: 500;
    background-color: transparent;
  }
}

button {
  background-color: none;
  cursor: pointer;
}

/* Header */
.header {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0 1.375rem;
  margin: 0 1.625rem;
  border-bottom: 1px solid var(--clr-med-lighter);
}

.business-name {
  font-size: var(--fs-h1);
  text-transform: uppercase;
  font-weight: var(--fw-light);
}

.tagline {
  font-size: 1.05rem;
  text-align: left;
  padding-top: 0.25rem;
  padding-left: 0.175rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .header-container {
    background-color: var(--clr-business-name-bg);
  }

  .header {
    padding: 1.3rem 2rem 1.125rem;
    border: none;
    margin: 0;
  }

  .business-name {
    font-size: var(--fs-h2);
    color: rgba(255, 255, 255, 0.85);
  }

  .tagline {
    padding-top: 0.1rem;
    padding-left: 0.12rem;
    color: rgba(255, 255, 255, 0.8);
  }
}

/* Nav menu */
.side-nav {
  display: none;
}

body.active::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-header-wide-darker);
  opacity: 0.5;
  /* backdrop-filter: blur(2px); */
  pointer-events: none;
}

@media (min-width: 1024px) {
  body.active::after {
    background-color: var(--clr-reg-dark);
    opacity: 0.7;
  }
}

.nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  bottom: 0;
  left: 32.5%;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.nav-list {
  list-style: none;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2.25rem 0 0;
  padding: 0;
  z-index: 100;
}

.nav-item {
  margin-top: 2.75rem;
  padding: 0;
  padding-bottom: 0.575rem;
  width: 43.5%;
  text-align: center;
  border-bottom: 2px solid white;
  transition: border-bottom 300ms;
}

.nav-item:hover,
.nav-item:focus,
.nav-item.active {
  /* background-color: var(--clr-light-form-darker); */
  border-bottom: 2px solid var(--clr-light-form-darker);
}

.nav-link {
  color: var(--clr-header-wide-darker);
  font-weight: var(--fw-med);
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.75rem 0;
}

@media (min-width: 600px) {
  .nav {
    left: 55%;
  }
}

@media (min-width: 768px) {
  .nav {
    left: 55%;
  }

  .nav-list {
    margin-top: 3.25rem;
  }

  .nav-item {
    width: 37.5%;
    margin-top: 3.75rem;
    padding: 0;
    padding-bottom: 0.675rem;
  }

  .nav-link {
    font-size: 1.325rem;
    padding: 0.75rem 0;
  }
}

@media (min-width: 1024px) {
  .nav {
    left: 60%;
  }

  .nav-list {
    margin-top: 3.5rem;
  }

  .nav-item {
    margin-top: 4rem;
  }

  .nav-link {
    font-size: 1.425rem;
  }
}

.nav-toggle {
  padding: 1rem 0.425rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 0.75rem;
  z-index: 1000;
  opacity: 1;
  border: 1px solid transparent;
  transition: opacity 400ms;
}

.sticky {
  position: fixed;
  padding: 1rem 0.5rem;
  top: 0.875rem;
  right: 0.9rem;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0;
}

.nav-open .nav-toggle {
  top: 1.325rem;
  opacity: 1;
  border: 1px solid transparent;
}

.nav-open .nav {
  transform: translateX(0);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-header-med);
  width: 2.5em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 7px;
}
.hamburger::after {
  bottom: 7px;
}

.nav-open .hamburger,
.nav-open .hamburger::before,
.nav-open .hamburger::after {
  background: var(--clr-header-med);
}

.nav-open .nav-toggle.sticky .hamburger {
  background-color: var(--clr-header-med);
  opacity: 1;
}

.nav-open .nav-toggle {
  position: fixed;
  padding: 1em 0.5em;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-7px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

@media (min-width: 768px) {
  .nav-toggle {
    right: 1.5rem;
    top: 1.125rem;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-med-new);
    width: 3em;
    height: 3px;
    border-radius: 1.25em;
    transition: transform 250ms;
  }

  .hamburger::before {
    top: 9px;
  }

  .hamburger::after {
    bottom: 9px;
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-9px);
  }

  .sticky {
    top: 1.275rem;
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
  }

  .nav-open .nav-toggle {
    top: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .nav-toggle,
  .header,
  .nav {
    display: none;
  }
}

/* Side nav for screens >= 1200px */
@media (min-width: 1200px) {
  .large-screen-container {
    width: 100%;
    height: auto;
    display: flex;
  }

  .side-nav-container {
    display: block;
  }

  .business-name-container {
    background-color: var(--clr-business-name-bg-darkest);
    width: 260px;
    padding: 1.4rem 1.1rem 1.3rem;
  }

  .business-name {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.85rem;
    width: 100%;
    text-align: center;
    padding-right: 0.1rem;
  }

  .business-name-link {
    text-decoration: none;
  }

  strong {
    color: rgba(255, 255, 255, 1);
  }

  .tagline {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    padding-right: 0.3rem;
  }

  .side-nav {
    display: block;
    position: fixed;
    width: 260px;
    height: 100%;
    padding: 0;
    margin: 0;
    border-right: none;
    background-color: var(--clr-header-wide-lighter);
  }

  .side-nav-list {
    position: fixed;
    align-items: flex-start;
    width: 260px;
    top: 98px;
    padding: 0;
    margin: 0;
  }

  .side-nav-list li {
    text-transform: capitalize;
    list-style: none;
    text-align: left;
    font-weight: var(--fw-reg);
    margin: 0;
    padding: 0;
  }

  .side-nav-item a {
    display: block;
    font-size: 17px;
    font-weight: var(--fw-reg);
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-decoration: none;
    padding: 1.75rem 0 0.375rem 1.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .side-nav-item a:hover {
    background-color: var(--clr-business-name-bg);
    border-bottom-color: rgba(255, 255, 255, 0.85);
    color: white;
    transition: all 300ms;
  }

  .side-nav-item.active {
    background-color: var(--clr-business-name-bg);
    color: white;
    transition: all 300ms;
  }

  .main-content {
    width: 100%;
    height: auto;
  }
}

/* About and Rates sections and sliders */
.about {
  padding-top: 1.125rem;
  padding-bottom: 2rem;
}

.about-text {
  padding: 0 1.625rem 0.75rem;
}

.about-text-show {
  display: none;
}

.about-header {
  display: none;
}

@media (min-width: 1200px) {
  h2.about-header {
    display: block;
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  h2.about-header {
    margin-bottom: 0;
  }
}

/* Main slider */
.slider {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin: 0.125rem auto 0;
  /* border: 1px solid var(--clr-med-lighter); */
}

/* Default slider heights on page load */
@media (min-width: 768px) {
  .slider {
    height: 670px;
  }
}

@media (min-width: 1024px) {
  .slider {
    height: 610px;
  }
}

@media (min-width: 1200px) {
  .slider {
    height: 716px;
  }
}

@media (min-width: 1280px) {
  .slider {
    height: 100%;
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 750ms, opacity 600ms;
  padding-bottom: 2rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-invisible {
  opacity: 0;
}

.slide-image {
  position: relative;
  width: 85%;
  height: auto;
  cursor: pointer;
  object-fit: contain;
}

.slider-btn {
  cursor: pointer;
  position: absolute;
  top: 46.5%;
  transform: translate(0, -50%);
  color: var(--clr-med-new);
  padding: 0.5rem 0.325rem 0.3rem;
  border: none;
  background: transparent;
  font-size: var(--fs-h2);
}

.slider-btn:hover {
  color: var(--clr-header-wide);
}

.slider-btn--right {
  right: 0;
}

.artist-title {
  color: var(--clr-reg-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: var(--fs-smallest);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.is-hidden {
  opacity: 0;
}

.dots {
  margin: 0.875rem auto 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.dots-dot {
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.75rem;
  padding: 0.325rem;
  cursor: pointer;
  background: var(--clr-med-new);
  border-radius: 50%;
  transition: all 250ms;
}

.dots-dot--active {
  background-color: var(--clr-header-med);
}

@media (min-width: 600px) {
  .slider-btn {
    font-size: 2.125rem;
  }
}

@media (min-width: 768px) {
  .slide {
    padding-top: 0rem;
  }

  .slide-image {
    width: 67.5%;
  }

  .slider-btn {
    padding: 0.5rem;
    font-size: 2.25rem;
    top: 43.5%;
  }

  .slider-btn--right {
    margin: 2rem;
  }

  .slider-btn--left {
    margin: 2rem;
  }

  .artist-title {
    bottom: 0rem;
    font-size: var(--fs-smaller);
  }

  .dots-dot {
    padding: 0.375rem;
  }
}

@media (min-width: 1024px) {
  .slider {
    margin-top: -1.5rem;
  }

  .slide {
    padding-top: 0;
  }

  .slide-image {
    width: 82.5%;
  }

  .slider-btn {
    font-size: 2.375rem;
    padding: 0.25rem;
    top: 48.5%;
  }

  .slider-btn--right {
    margin: -0.5rem;
  }

  .slider-btn--left {
    margin: -0.5rem;
  }
}

@media (min-width: 1200px) {
  .slider {
    margin-top: 1.25rem;
  }

  .slide {
    padding-top: 0;
  }

  .slide-image {
    width: 82.5%;
  }

  .slider-btn {
    font-size: 2.375rem;
    padding: 0.25rem;
    top: 48%;
  }

  .slider-btn--right {
    margin: -0.5rem;
  }

  .slider-btn--left {
    margin: -0.5rem;
  }
}

/* Expanded slider feature */
.expand-slider-icon {
  color: var(--clr-med-new);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 0.875rem;
  bottom: 0.05rem;
  cursor: pointer;
  overflow: visible;
  z-index: 100;
  background: none;
  padding: 0;
  overflow: visible;
}

.expand-slider-icon .expand-outline {
  align-self: flex-end;
  font-size: 2rem;
}

.expand-text {
  font-size: var(--fs-smaller);
}

.expand-slider-icon:hover {
  color: var(--clr-header-wide);
}

/* Expanded slider */
.close-expanded-slider {
  display: none;
}

@media (min-width: 1280px) {
  .slider {
    margin-top: 0.25rem;
  }

  .slide {
    padding-top: 0;
  }

  .slide-image {
    width: 80%;
  }

  .slider-btn {
    top: 49.5%;
  }

  .slider-btn--right {
    margin-right: 0rem;
  }

  .slider-btn--left {
    margin-left: 0rem;
  }

  .dots {
    margin-top: 1rem;
  }

  .dots-dot {
    margin: 0 1.275rem;
  }

  .expand-slider-icon {
    display: flex;
  }

  .slider-container--expanded .expand {
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: white;
  }

  .slider-container.expand {
    z-index: 100;
    background-color: white;
  }

  .slider-container.expand .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -0.5rem auto 0;
    padding: 0;
    overflow: visible;
    background: white;
  }

  .slider-container.expand .slide {
    padding-bottom: 0;
    width: 100%;
  }

  .slider-container.expand .slide-image {
    width: 67.5%;
    cursor: default;
    object-fit: contain;
  }

  .slider-container.expand .expand-slider-icon {
    display: none;
  }

  .slider-container.expand .close-expanded-slider {
    display: block;
    position: absolute;
    color: var(--clr-med-new);
    font-size: 3.75rem;
    cursor: pointer;
    z-index: 100;
    right: 1rem;
    top: 0.5rem;
    transition: color 400ms;
  }

  .slider-container.expand .close-expanded-slider:hover {
    color: var(--clr-header-wide);
  }

  .slider-container.expand .artist-title {
    bottom: -0.25rem;
    font-size: var(--fs-small);
  }

  .slider-container.expand .dots {
    height: 3rem;
    padding: 0;
    padding-bottom: 0.125rem;
    margin: 0rem auto 2rem;
  }

  .slider-container.expand .slider-btn {
    position: fixed;
    font-size: 2.75rem;
    top: 43.5%;
    transform: translate(0, -50%);
  }

  .slider-container.expand .slider-btn--left {
    left: 19.5%;
  }

  .slider-container.expand .slider-btn--right {
    right: 19.5%;
  }
}

@media (min-width: 1400px) {
  .slide-image {
    width: 77.5%;
  }
}

/* Sections */
.section-container {
  width: 100%;
  height: auto;
  border-top: 1px solid var(--clr-med-lighter);
}

.section-container.no-border {
  border-top: none;
}

/* Inverse color for smaller screens */

@media (max-width: 1199px) {
  .section-inverse {
    background-color: var(--clr-header-wide-lighter);
  }

  .section-inverse h2,
  .section-inverse h3 {
    color: white;
    opacity: 0.95;
  }

  .section-inverse ul,
  .section-inverse li::marker,
  .section-inverse p,
  .section-inverse a {
    color: white;
    opacity: 0.9;
  }

  .section-inverse li::marker {
    opacity: 0.75;
  }

  .section-inverse p,
  .section-inverse a {
    opacity: 0.95;
  }

  .section-inverse a:hover {
    text-decoration: none;
  }

  .section-inverse .section-header {
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  }
}

.services,
.schedule,
.contact {
  padding: 2.125rem 1.625rem 2.25rem;
}

.rates {
  padding-bottom: 2.25rem;
}

.contact {
  padding: 2.275rem 0 0;
}

@media (min-width: 768px) {
  .services,
  .schedule,
  .contact {
    padding: 2.75rem 3.5rem;
  }

  .about {
    padding-top: 1.5rem;
  }

  .about-text {
    padding: 0 3.5rem 0.75rem;
  }

  .about-text:first-of-type {
    padding-bottom: 0.25rem;
  }

  .contact {
    padding-bottom: 3.75rem;
  }
}

@media (min-width: 1024px) {
  .about,
  .services,
  .schedule,
  .contact {
    padding: 2.875rem 3.25rem 3.25rem;
    width: 100%;
    height: auto;
  }

  .about {
    padding-left: 2rem;
    padding-bottom: 2.75rem;
  }

  .about-text {
    padding: 0 0 0.75rem;
  }

  .about-text:first-of-type {
    padding-bottom: 0.75rem;
  }

  .rates {
    padding-bottom: 3.25rem;
  }

  .contact {
    padding-bottom: 3.75rem;
  }
}

@media (min-width: 1200px) {
  .about,
  .services,
  .schedule,
  .contact {
    padding: 2.325rem 3.25rem 2.75rem;
    width: 100%;
    height: auto;
  }

  .about-text {
    padding: 1.25rem 0 0.75rem;
  }

  .section-container {
    width: 100%;
    height: auto;
    padding-left: 260px;
  }

  .section-container.bg {
    background-color: white;
  }
}

@media (min-width: 1280px) {
  .about,
  .services,
  .rates,
  .schedule,
  .contact {
    padding: 2.5rem 3.25rem 3.25rem;
    width: 100%;
    height: auto;
  }

  .contact {
    padding-bottom: 3.5rem;
    height: 100vh;
  }
}

@media (min-width: 1400px) {
  .about,
  .services,
  .rates,
  .schedule,
  .contact {
    padding: 2.5rem 4rem 3.5rem 3.75rem;
    width: 100%;
    height: auto;
  }

  .about {
    padding-top: 2.125rem;
  }

  .contact {
    height: 100vh;
  }
}

/* Max-width for desktop and large monitors */
@media (min-width: 2050px) {
  .section-container {
    max-width: 1950px;
  }
}

.section-header {
  padding-bottom: 1.125rem;
  margin-bottom: 0.5rem;
  color: var(--clr-header-wide);
  text-transform: uppercase;
  border-bottom: 1px solid var(--clr-med-lighter);
}

.section-subheader {
  font-size: var(--fs-h3);
  padding: 1.125rem 0 1rem;
  color: var(--clr-header-wide);
}

.section-paragraph {
  padding-bottom: 0.875rem;
}

@media (min-width: 1200px) {
  .section-header {
    font-size: 1.625rem;
    padding-bottom: 0.875rem;
    color: var(--clr-header-wide);
  }

  .section-paragraph.extra-bottom-padding {
    padding-bottom: 1.75rem;
  }
}

/* Side by side layouts on wide screens */
@media (min-width: 1024px) {
  .about-text {
    padding-top: 0;
  }

  .about-text-hide {
    display: none;
  }

  .about-text-show {
    display: block;
  }

  .slider-side-text-container {
    display: grid;
    grid-template-columns: 65% 30%;
    column-gap: 3.5%;
  }

  .slider-container {
    padding-top: 0.125rem;
  }

  .about-side-text {
    padding: 0;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .about-text-show {
    display: block;
  }

  .slider-side-text-container {
    display: grid;
    grid-template-columns: 65% 30%;
    column-gap: 5%;
  }

  .slider-container {
    padding-top: 0.125rem;
  }

  .about-side-text {
    padding-top: 0.75rem;
  }
}

@media (min-width: 1280px) {
  .about-text {
    padding-top: 0;
  }

  .about-text-hide {
    display: none;
  }

  .about-text-show {
    display: block;
  }

  .slider-side-text-container {
    display: grid;
    grid-template-columns: 65% 32%;
    column-gap: 3%;
  }

  .slider-container {
    padding-top: 0.125rem;
  }

  .about-side-text {
    padding: 0;
    padding-top: 2rem;
  }
}

@media (min-width: 1400px) {
  .slider-side-text-container {
    display: grid;
    grid-template-columns: 62.5% 35%;
    column-gap: 5%;
  }

  .about-side-text {
    padding-top: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1600px) {
  .slider-side-text-container {
    display: grid;
    grid-template-columns: 58.5% 30%;
    column-gap: 5%;
  }

  .about-side-text {
    padding-top: 3.5rem;
    padding-right: 2.5rem;
  }
}

/* Services section */
.studio-image {
  margin: 1.25rem auto;
  border: 1px solid var(--clr-med-lighter);
  width: 100%;
  object-fit: contain;
}

.services-list li {
  padding-left: 0.5rem;
  margin-left: 1.25rem;
}

/* Services text to left, image to right at wider screens */
@media (min-width: 1024px) {
  .section-subheader--services {
    padding-top: 1.125rem;
    padding-bottom: 1.25rem;
  }

  .text-side-image-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    margin-bottom: 1.325rem;
  }

  .studio-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -2.275rem;
    border: 1px solid var(--clr-med-lighter);
  }

  .side-by-side-text {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    margin-top: 0rem;
    padding: 1rem 0 0;
  }

  .section-subheader--side {
    padding: 0;
    padding-bottom: 0.75rem;
    margin-top: 0;
    margin-bottom: 0.875rem;
    border-bottom: 1px solid var(--clr-med-lighter);
  }
}

@media (min-width: 1200px) {
  .side-by-side-text {
    margin-top: 2rem;
    padding: 1.75rem 1.75rem 1.25rem;
    border: 1px solid var(--clr-med-lighter);
    background-color: var(--clr-light-form);
  }

  .section-subheader--side {
    padding: 0;
    padding-bottom: 0.75rem;
    margin-top: 0;
    margin-bottom: 0.875rem;
    border-bottom: 1px solid var(--clr-med-lighter);
  }
}

/* Rates section and tier pricing */
.section-header--rates {
  margin: 0 1.625rem 1rem;
  padding: 2.275rem 0 1rem;
}

.rates .section-subheader {
  margin-top: 0;
  margin-right: 1.625rem;
  margin-left: 1.625rem;
}

.section-subheader.top {
  border-top: 1px solid var(--clr-med-lighter);
  padding-top: 1.75rem;
}

.section-paragraph--wide {
  display: none;
}

.section-paragraph--rates {
  padding-right: 1.625rem;
  padding-left: 1.625rem;
}

ul.file-format-list {
  margin: 0.125rem 1.625rem 0.5rem;
}

.file-format-list li {
  padding-left: 0.5rem;
  margin-left: 1.25rem;
}

@media (min-width: 768px) {
  .section-header--rates,
  .section-paragraph--rates,
  .rates .section-subheader {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }

  .section-paragraph--rates {
    padding-left: 0;
  }

  ul.file-format-list {
    margin: 0 3.5rem 0.375rem;
  }
}

@media (min-width: 1024px) {
  /* .section-header--rates,
  .section-paragraph--rates,
  .rates .section-subheader {
    margin-right: 3.25rem;
    margin-left: 3.25rem;
  } */
  .file .section-paragraph--rates {
    padding-left: 0;
  }

  ul.file-format-list {
    margin: 0 3.25rem 0.375rem;
  }
}

@media (min-width: 1280px) {
  .section-header--rates {
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
  }

  .section-paragraph--rates {
    padding-right: 0;
  }
}

.tier--container {
  padding-bottom: 0.5rem;
}

.tier--description {
  display: grid;
  grid-template-columns: 25% 1fr;
  column-gap: 2.5%;
  border-top: 1px solid var(--clr-med-lighter);
  padding: 1.25rem 0 0;
  margin-right: 1.625rem;
  margin-left: 1.625rem;
}

.tier--subheader {
  font-size: var(--fs-h3);
  padding-top: 0.325rem;
  color: var(--clr-header-wide);
  flex-wrap: nowrap;
}

ul.tier--list {
  list-style-type: none;
  /* border-bottom: 1px solid var(--clr-med-lighter); */
}

.tier--list li {
  font-size: var(--fs-small);
}

li.tier--price {
  font-weight: 500;
  color: var(--clr-reg-dark);
  font-size: 17px;
  padding-right: 1.625rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-med-lighter);
  margin-bottom: 0.75rem;
}

.tier--example-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.325rem 0 0;
  position: relative;
}

@media (min-width: 768px) {
  .tier--example-container {
    padding: 0.125rem 0 0.625rem;
  }

  .tier--example-container-static {
    padding-bottom: 0rem;
  }

  .tier--description {
    grid-template-columns: 15% 1fr;
    column-gap: 5%;
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }

  .tier--subheader {
    margin-left: 0;
  }

  .tier--price {
    padding-right: 0;
  }

  ul.tier--list {
    padding-right: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .tier--description {
    grid-template-columns: 15% 72.5%;
    column-gap: 7.5%;
    margin-right: 3.25rem;
    margin-left: 3.25rem;
  }

  .file-format-text-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    padding: 0.25rem 0 0.5rem;
    margin: 0 3.25rem;
  }

  ul.file-format-list {
    padding: 0;
    margin: 0;
  }

  .section-paragraph--rates {
    padding-right: 0;
    margin-right: 0;
  }

  .section-paragraph--hide {
    display: none;
  }

  .section-paragraph--wide {
    display: block;
  }
}

@media (min-width: 1280px) {
  .tier--description {
    grid-template-columns: 20% 75%;
  }

  .section-paragraph--rates {
    margin: 0;
  }
}

/* Rates sample sliders */
.sample-slider--static,
.sample-slider,
.sample-slider-2 {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  margin: 0 auto 0.25rem;
  /* background-color: lightgray; */
}

.sample-slider--track,
.sample-slider--track-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 850ms;
}

.sample-slider--slide,
.sample-slider--slide-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 850ms;
}

.sample-slider--slide.current-slide,
.sample-slider--slide-2.current-slide-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  opacity: 1;
}

.sample-slider--image-static,
.sample-slider--image,
.sample-slider--image-2 {
  position: relative;
  width: 83.5%;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  cursor: pointer;
}

.sample-slider--btn,
.sample-slider--btn-2 {
  position: absolute;
  top: 48.5%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--clr-med-new);
  padding: 0.5rem 0.325rem 0.3rem;
  border: none;
  background: transparent;
  font-size: var(--fs-h2);
  /* transition: 100ms; */
}

.sample-slider--btn:hover,
.sample-slider--btn-2:hover {
  color: var(--clr-header-wide);
}

.sample-slider--btn-right,
.sample-slider--btn-right-2 {
  position: absolute;
  right: 0.05rem;
}

.sample-slider--btn-left,
.sample-slider--btn-left-2 {
  position: absolute;
  left: 0.05rem;
}

@media (min-width: 600px) {
  .sample-slider--btn,
  .sample-slider--btn-2 {
    font-size: 2.125rem;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 1rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    position: absolute;
    left: 1rem;
  }
}

.sample-slider--title,
.sample-slider--title-2 {
  color: var(--clr-reg-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: var(--fs-smallest);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sample-slider--nav-dots,
.sample-slider--nav-dots-2 {
  width: 100%;
  position: absolute;
  bottom: 0.175rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  overflow: visible;
}

.sample-slider--nav-dot,
.sample-slider--nav-dot-2 {
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.75rem;
  padding: 0.325rem;
  cursor: pointer;
  background: var(--clr-med-new);
  border-radius: 50%;
  transition: all 250ms;
}

.sample-slider--nav-dot.current-slide,
.sample-slider--nav-dot-2.current-slide-2 {
  background-color: var(--clr-header-med);
}

.static-close-icon,
.sample-close-icon,
.sample-close-icon-2 {
  display: none;
}

.expand-slider-icon-sample,
.expand-slider-icon-sample {
  visibility: hidden;
}

@media (min-width: 768px) {
  .sample-slider--image-static,
  .sample-slider--image,
  .sample-slider--image-2 {
    width: 60%;
  }

  .sample-slider--btn,
  .sample-slider--btn-2 {
    font-size: 2.25rem;
    padding: 0.5rem;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 5rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 5rem;
  }

  .sample-slider--nav-dot,
  .sample-slider--nav-dot-2 {
    padding: 0.375rem;
  }
}

@media (min-width: 1024px) {
  .tier--container {
    display: grid;
    grid-template-columns: 40% 45%;
    column-gap: 5%;
    border-top: 1px solid var(--clr-med-lighter);
    padding-top: 0.75rem;
    padding-bottom: 0;
    margin: 0 3.25rem;
  }

  .sample-slider--image-static {
    margin-bottom: 0rem;
  }

  .sample-slider--image-static,
  .sample-slider--image,
  .sample-slider--image-2 {
    width: 75%;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 0;
    font-size: 1.875rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 0;
    font-size: 1.875rem;
  }

  .sample-slider--nav-dot,
  .sample-slider--nav-dot-2 {
    padding: 0.325rem;
    margin: 0 0.75rem;
  }

  /* Expanded sample images */
  .sample-slider-container.expand .sample-slider--btn-left,
  .sample-slider-container-2.expand .sample-slider--btn-left-2 {
    left: 7.5%;
  }

  .sample-slider-container.expand .sample-slider--btn-right,
  .sample-slider-container-2.expand .sample-slider--btn-right-2 {
    right: 7.5%;
  }

  .tier--description {
    margin: 0;
    border: none;
  }

  .tier--subheader {
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
  }

  .tier--price {
    margin-top: -0.325rem;
  }

  ul.tier--list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }

  .rates .section-subheader--side {
    border-top: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0.875rem;
    margin-left: 0;
    padding: 0;
    padding-bottom: 0.75rem;
  }

  .section-subheader.payment-methods {
    margin-top: 0.5rem;
  }

  .rates .side-by-side-text {
    margin-top: 1.125rem;
    padding: 0 3.25rem;
  }

  .section-paragraph--rates {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .sample-slider--image-static,
  .sample-slider--image,
  .sample-slider--image-2 {
    width: 65%;
    max-width: 520px;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 5.5rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 5.5rem;
  }

  .expand-slider-icon-sample .expand-outline,
  .expand-slider-icon-sample .static-expand-icon {
    visibility: visible;
    font-size: 1.65rem;
    position: absolute;
    color: var(--clr-med-new);
    bottom: 0.5rem;
    right: 9rem;
    cursor: pointer;
  }

  .expand-slider-icon-sample .static-expand-icon {
    bottom: 0rem;
  }

  .expand-slider-icon-sample .expand-outline:hover {
    color: var(--clr-header-wide);
  }

  /* Fullscreen sample view */
  .sample-static-container.expand .is-invisible,
  .sample-slider-container.expand .is-invisible,
  .sample-slider-container-2.expand .is-invisible {
    opacity: 1;
  }

  .static-close-icon,
  .sample-close-icon,
  .sample-close-icon-2 {
    display: none;
    position: absolute;
    color: var(--clr-med-new);
    font-size: 3.5rem;
    cursor: pointer;
    z-index: 100;
    right: 1rem;
    top: 0.5rem;
    transition: color 250ms;
  }

  .static-close-icon.active,
  .sample-close-icon.active,
  .sample-close-icon-2.active {
    display: block;
  }

  .static-close-icon.active:hover,
  .sample-close-icon.active:hover,
  .sample-close-icon.active-2:hover {
    color: var(--clr-header-wide);
  }

  .sample-static-container.expand,
  .sample-slider-container.expand,
  .sample-slider-container-2.expand {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sample-static-container.expand .sample-slider--image-static {
    width: 93.5%;
    height: auto;
    max-width: 900px;
    margin-top: -1.75rem;
    cursor: auto;
  }

  .sample-slider-container.expand .sample-slider,
  .sample-slider-container-2.expand .sample-slider-2 {
    position: relative;
    height: auto;
    width: 100%;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    margin: auto;
  }

  .sample-slider-container.expand .sample-slider--track,
  .sample-slider-container-2.expand .sample-slider--track-2 {
    padding-bottom: 0;
    width: 100%;
    height: auto;
  }

  .sample-slider-container.expand .sample-slider--slide,
  .sample-slider-container-2.expand .sample-slider--slide-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    transition: opacity 350ms;
  }

  .sample-slider-container.expand .sample-slider--image,
  .sample-slider-container-2.expand .sample-slider--image-2 {
    width: 100%;
    max-width: 93.5%;
    height: auto;
    cursor: default;
    opacity: 1;
    margin-top: -0.75rem;
  }

  .sample-slider-container.expand .artist-title,
  .sample-slider-container-2.expand .artist-title-2 {
    bottom: -1rem;
    font-size: var(--fs-small);
  }

  .sample-slider-container.expand .sample-slider--nav-dots,
  .sample-slider-container-2.expand .sample-slider--nav-dots-2 {
    height: 4rem;
    padding-bottom: 0;
    margin: 0 auto;
  }

  .sample-slider-container.expand .sample-slider--nav-dot,
  .sample-slider-container-2.expand .sample-slider--nav-dot-2 {
    margin: 0 1.25rem;
    padding: 0.4rem;
  }

  .sample-slider-container.expand .sample-slider--btn,
  .sample-slider-container-2.expand .sample-slider--btn-2 {
    position: fixed;
    font-size: 3.25rem;
    top: 47.5%;
    transform: translate(0, -50%);
  }

  .sample-slider-container.expand .sample-slider--btn-left,
  .sample-slider-container-2.expand .sample-slider--btn-left-2 {
    left: 1.25rem;
  }

  .sample-slider-container.expand .sample-slider--btn-right,
  .sample-slider-container-2.expand .sample-slider--btn-right-2 {
    right: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .sample-slider--image-static,
  .sample-slider--image,
  .sample-slider--image-2 {
    width: 65%;
    max-width: 520px;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 3.5rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 3.5rem;
  }

  .expand-slider-icon-sample .expand-outline {
    right: 4.75rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 3.25rem;
    font-size: 1.875rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 3.25rem;
    font-size: 1.875rem;
  }

  .expand-slider-icon-sample .expand-outline {
    right: 5.5rem;
  }

  /* Expanded sample images */
  .sample-slider-container.expand .sample-slider--btn-left,
  .sample-slider-container-2.expand .sample-slider--btn-left-2 {
    left: 15%;
  }

  .sample-slider-container.expand .sample-slider--btn-right,
  .sample-slider-container-2.expand .sample-slider--btn-right-2 {
    right: 15%;
  }
}

/* Get started and contact form */
.section-paragraph.get-started {
  margin-top: 1rem;
}

/* Removes browser form defaults */
input:-webkit-autofill {
  border: 1px solid var(--clr-header-wide-darker);
  background-color: white;
}
input:autofill {
  border: 1px solid var(--clr-header-wide-darker);
  background-color: white;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* General form styles */
textarea {
  border: 1px solid var(--clr-med-lighter);
  padding: 0.75rem;
  font-family: inherit;
  font-size: 16px;
  height: 150px;
  line-height: 1.4rem;
  margin: 0.75rem 0;
  border-radius: 0;
  resize: none;
}

input {
  border: 1px solid var(--clr-med-lighter);
  background-color: var(--clr-light-form);
  margin-bottom: 0.5rem;
  padding: 0.675rem;
  font-family: inherit;
  font-size: 16px;
  border-radius: 0;
}

.get-started--form-container {
  width: 100%;
  max-width: 500px;
  margin: 0.5rem auto 0;
}

@media (min-width: 600px) {
  .get-started--form-container {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.175);
    padding: 1.75rem 1.5rem 1.275rem;
    margin-top: 0.5rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  color: var(--clr-header-wide);
  font-size: var(--fs-small);
  font-weight: var(--fw-med);
  font-size: var(--fs-small);
  margin: 0 0 0.2rem;
}

.form-group.get-started label {
  color: rgba(255, 255, 255, 1);
}

.extra-small {
  font-size: var(--fs-smaller);
}

.form-group input {
  background-color: white;
}

.form-group textarea {
  margin: 0;
  margin-bottom: 0.75rem;
  background-color: white;
}

.form-group input:focus,
.form-group textarea:focus {
  background-color: white;
  border: 1px solid var(--clr-header-wide-darker);
}

.form-wide input {
  width: 100%;
}

.photoshoot-text {
  margin: 0.5rem 0 0.375rem;
  color: rgba(255, 255, 255, 0.95);
}

/* Custom radio button */
.photoshoot-location-container {
  display: block;
  position: relative;
  width: 75%;
  padding-left: 2.25rem;
  margin: 0.75rem;
  margin-left: 0;
  cursor: pointer;
  user-select: none;
}

.photoshoot-location-container label {
  color: rgba(255, 255, 255, 0.95);
  font-size: var(--fs-small);
}

.photoshoot-location-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--clr-business-name-bg);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: 200ms;
}

.photoshoot-location-container:hover input ~ .checkmark {
  background-color: var(--clr-business-name-bg-darker);
}

.photoshoot-location-container input:checked ~ .checkmark {
  background-color: var(--clr-business-name-bg-darker);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.photoshoot-location-container input:checked ~ .checkmark:after {
  display: block;
}

.photoshoot-location-container .checkmark:after {
  top: 0.3125rem;
  left: 0.3125rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

.form-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem auto 0;
  padding: 1.125rem 3.125rem;
  text-align: center;
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: var(--clr-header-wide-lighter-new);
  border: 1px solid var(--clr-header-wide-lighter-new);
}

.form-submit-button:hover {
  background-color: var(--clr-business-name-bg);
  color: white;
}

.form-submit-button.get-started {
  background-color: var(--clr-business-name-bg-darker);
  border: 1px solid var(--clr-business-name-bg-darker);
  color: white;
}

.form-submit-button.get-started:hover,
.form-submit-button.get-started:focus {
  background-color: var(--clr-business-name-bg-darker);
  border: 1px solid var(--clr-business-name-bg-darker);
}

@media (min-width: 1024px) {
  .get-started-faq-container {
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 5%;
  }

  .get-started-text-form-container {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  .section-paragraph.get-started {
    margin-top: 0.75rem;
  }

  .get-started--form-container {
    border: 1px solid var(--clr-med-lighter);
    background-color: var(--clr-light-form);
    color: var(--clr-reg-dark);
    padding: 2rem 1.5rem 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    max-width: 500px;
  }

  .form-group.get-started label {
    color: var(--clr-header-wide);
  }

  .photoshoot-text,
  .photoshoot-location-container label {
    color: var(--clr-header-wide);
  }

  .checkmark {
    background-color: var(--clr-med-lighter);
    border: 1px solid var(--clr-header-med);
  }

  .photoshoot-location-container:hover input ~ .checkmark {
    background-color: var(--clr-med-light);
  }

  .photoshoot-location-container input:checked ~ .checkmark {
    background-color: var(--clr-header-wide-lighter-new);
    border: 1px solid var(--clr-header-med);
  }

  .form-submit-button.get-started {
    background-color: var(--clr-header-wide-lighter-new);
    border: 1px solid var(--clr-header-wide-lighter-new);
  }

  .form-submit-button.get-started:hover,
  .form-submit-button.get-started:focus {
    background-color: var(--clr-business-name-bg);
    color: white;
  }
}

/* End of forms  */

/* Contact section */
.contact .section-header {
  margin-right: 1.625rem;
  margin-left: 1.625rem;
}

.contact-details {
  font-style: inherit;
  line-height: 1.65;
  font-size: var(--fs-small);
  color: var(--clr-reg-dark);
}

.contact-details a {
  text-decoration: none;
  line-height: 1.75;
}

.contact-details a:hover {
  text-decoration: underline;
}

.contact-details-container {
  text-align: center;
}

.contact-details-sub-container {
  margin: 0.5rem auto;
  padding-bottom: 0.75rem;
}

.contact-sub-header {
  display: block;
  padding: 0.75rem 0 0.75rem;
  margin: 0 auto 0.5rem;
  width: 40%;
  text-align: center;
  border-bottom: 1px solid var(--clr-med-lighter);
}

.google-map--responsive {
  position: relative;
  width: 90%;
  overflow: hidden;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
  margin: 0 auto 1.125rem;
  border: 1px solid var(--clr-med-lighter);
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.address-link {
  text-decoration: none;
}

.address-link:hover {
  text-decoration: underline;
}

/* Contact message and contact form */
.text-contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-paragraph--contact {
  max-width: 450px;
  margin: 0.5rem auto 0;
  padding: 0 1.625rem 1rem;
}

/* Basic contact form */
.contact-form-container {
  width: 100%;
  max-width: 450px;
  margin: 0.5rem auto 0;
  padding: 1.375rem 1.625rem 2rem;
  background-color: var(--clr-light-form);
  border-top: 1px solid var(--clr-med-lighter);
}

@media (min-width: 450px) {
  .contact-form-container {
    border: 1px solid var(--clr-med-lighter);
  }

  .section-paragraph--contact {
    padding: 0 0 1rem;
  }
}

.status--contact,
.status--get-started {
  position: relative;
  display: none;
  width: 100%;
  max-width: 450px;
  height: auto;
  text-align: center;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  font-size: inherit;
  font-weight: var(--fw-reg);
  cursor: pointer;
  border-top: 1px solid var(--clr-med-lighter);
}

.status--get-started {
  margin-top: 0.875rem;
  max-width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 600px) {
  .status--get-started {
    margin-top: 0;
    border-top: none;
    max-width: 500px;
  }
}

.status--contact::after,
.status--get-started::after {
  position: absolute;
  content: '\2715';
  font-size: 1.2rem;
  right: 0.725rem;
  top: 0.25rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.status--contact.success,
.status--get-started.success {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  background-color: #cdf5ff;
  animation: status 4s ease forwards;
  /* border-top: 1px solid var(--clr-header-wide-lighter-new); */
}

.status--contact.error,
.status--get-started.error {
  display: block;
  color: white;
  background-color: rgb(240, 69, 69);
  animation: status 4s ease forwards;
}

.status--get-started.error::after {
  color: white;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@media (min-width: 768px) {
  .contact .section-header {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .contact-details {
    font-size: var(--fs-reg);
  }

  .google-map--responsive {
    width: 80%;
  }

  .contact-sub-header {
    width: 11rem;
    margin-top: 0;
    padding-top: 0;
  }

  .contact-details-sub-container.first {
    margin-top: 1.5rem;
    margin-bottom: 0.625rem;
  }

  .contact-info-container {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    margin: 1.75rem auto 0.75rem;
    column-gap: 5%;
    /* border: 1px solid red; */
  }

  .contact-sub-header--contact-form {
    width: 11rem;
  }

  .contact-form-container {
    padding: 1.25rem 1rem;
    margin-top: 0.5rem;
  }

  .form-group textarea {
    margin-bottom: 1rem;
  }

  .status--contact {
    padding: 1.75rem 2.5rem;
    border: 1px solid var(--clr-med-lighter);
    border-top: none;
  }
}

@media (min-width: 1024px) {
  .contact-container {
    display: grid;
    grid-template-columns: 47.5% 1fr;
    column-gap: 7.5%;
    margin-top: 1rem;
  }

  .contact-details-sub-container.first {
    margin-top: 0.875rem;
    margin-bottom: 0.625rem;
  }

  .google-map--responsive {
    width: 95%;
    margin: 0;
  }

  .contact-details {
    font-size: var(--fs-reg);
  }

  .contact-details-container {
    text-align: left;
    min-width: 350px;
  }

  .contact-details-sub-container {
    margin-bottom: 0rem;
  }

  .contact-sub-header {
    text-align: left;
    border: none;
    margin: 0;
  }

  .contact-sub-header--contact-form {
    width: 11.5rem;
    margin: 0;
  }

  .text-contact-form-container {
    /* display: grid; */
    margin-top: 0.875rem;
  }

  .contact-form-container {
    width: 100%;
  }

  .form-group label {
    font-size: var(--fs-small);
  }

  .form-group input {
    font-size: var(--fs-small);
  }
}

@media (min-width: 1200px) {
  .contact-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }

  .contact-details-container {
    padding-left: 0rem;
  }
}

@media (min-width: 1280px) {
  .google-map-small {
    display: none;
  }

  .google-map-medium {
    display: block;
    margin: 1.25rem 0 1rem;
    overflow: hidden;
    max-width: 350px;
  }

  .contact-info-container {
    margin-top: 2rem;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }

  .contact-details-container {
    padding-left: 0rem;
  }

  .contact-sub-header {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }

  .contact-form-container {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1400px) {
  .contact-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }

  .section-paragraph--contact {
    margin-left: 0;
    margin-top: 0rem;
    width: 100%;
  }

  .contact-info-container {
    grid-template-columns: 42.5% 42.5%;
    margin: 1.75rem auto 0.75rem;
    column-gap: 15%;
    margin-top: 2.275rem;
  }

  .contact-details-sub-container {
    margin-left: 0;
  }
}

/* Footer */
.footer {
  font-size: var(--fs-smallest);
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--clr-business-name-bg-darker);
  padding: 1.25rem 1.625rem 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: inherit;
  text-decoration: none;
  margin-top: 0.375rem;
  cursor: pointer;
}

.footer-icon {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.75rem;
  padding: 0;
  padding-top: 0.2rem;
}

.scroll-arrow {
  color: rgba(255, 255, 255, 0.85);
  font-size: 2.875rem;
}

.footer-link:hover,
.footer-icon:hover,
.scroll-arrow:hover {
  color: white;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer {
    font-size: var(--fs-smaller);
    padding: 1.675rem 2.125rem 1.675rem 2rem;
  }
  .scroll-arrow {
    font-size: 3rem;
  }
}

.side-nav-footer {
  display: none;
}

@media (min-width: 1200px) {
  .footer {
    display: none;
  }

  .side-nav-footer {
    display: block;
    position: fixed;
    bottom: 1.75rem;
    left: 1.75rem;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    background-color: none;
  }
}
