@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* border: 1px solid lightpink; */
}

ul[class],
ol[class] {
  padding: 0;
}

:root {
  --clr-light-form: #f3f3f3;
  --clr-med-new: #c9c9c9;
  --clr-med-lighter: #d3d8d8;
  --clr-med-light: #cccfcf;
  --clr-header-med: #8b9999;
  --clr-header-wide-lighter: #747d7e;
  --clr-header-wide: #6c7475;
  --clr-header-wide-darker: #5b6364;
  --clr-reg-new: #383838;
  --clr-reg-dark: #2c2c2c;
  --clr-business-name-bg: #495252;
  --clr-business-name-bg-darker: #36393a;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 600;
  --fs-h1: 2rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.575rem;
  --fs-h4: 1.1625rem;
  --fs-h5: 1.175em;
  --fs-reg: 1rem;
  --fs-small: 0.95rem;
  --fs-smaller: 0.9rem;
  --fs-smallest: 0.8rem;
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--clr-reg-new);
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--clr-reg-new);
  font-size: var(--fs-small);
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px solid var(--clr-header-wide);
  outline-offset: 3px;
}

.hide {
  display: none;
}

/* Typography */
h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0;
}

p {
  font-size: var(--fs-small);
  line-height: 1.65;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul {
  padding-left: 1.25rem;
  padding-bottom: 0.5rem;
}

li {
  font-size: var(--fs-small);
  line-height: 1.75;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
}

@media (min-width: 1024px) {
  p,
  li {
    font-size: var(--fs-reg);
  }
}

li::marker {
  color: var(--clr-header-wide);
}

strong {
  color: var(--clr-header-med);
  background-color: transparent;
}

.bold-text {
  color: var(--clr-header-wide);
}

@media (min-width: 768px) {
  strong {
    color: white;
    font-weight: 500;
    background-color: transparent;
  }
}

button {
  background-color: none;
  cursor: pointer;
}

/* Header */
.header {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.125rem 0 1.375rem;
  margin: 0 1.625rem;
  border-bottom: 1px solid var(--clr-med-lighter);
}

.business-name {
  font-size: var(--fs-h1);
  text-transform: uppercase;
  font-weight: var(--fw-light);
}

.tagline {
  font-size: 1.05rem;
  text-align: left;
  padding-top: 0.25rem;
  padding-left: 0.175rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .header-container {
    background-color: var(--clr-business-name-bg);
  }

  .header {
    padding: 1.6rem 2rem 1.5rem;
    margin: 0;
  }

  .business-name {
    font-size: var(--fs-h2);
    color: rgba(255, 255, 255, 0.85);
  }

  .tagline {
    padding-top: 0.1rem;
    padding-left: 0.12rem;
    color: rgba(255, 255, 255, 0.8);
  }
}

/* Nav menu */
.side-nav {
  display: none;
}

body.active::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-header-wide-darker);
  opacity: 0.75;
  pointer-events: none;
}

@media (min-width: 1024px) {
  body.active::after {
    background-color: var(--clr-reg-new);
    opacity: 0.7;
  }
}

.nav {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 32.5%;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.nav-list {
  list-style: none;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2.625rem 0 0;
  padding: 0;
  z-index: 100;
}

.nav-item {
  margin-top: 2.75rem;
}

.nav-link {
  color: var(--clr-reg-new);
  color: var(--clr-business-name-bg);
  font-weight: var(--fw-med);
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.275rem 0.5rem;
}

@media (min-width: 600px) {
  .nav {
    left: 55%;
  }
}

@media (min-width: 768px) {
  .nav {
    left: 55%;
  }

  .nav-list {
    margin-top: 3.25rem;
  }

  .nav-item {
    margin-top: 5rem;
  }

  .nav-link {
    font-size: 1.325rem;
  }
}

@media (min-width: 1024px) {
  .nav {
    left: 60%;
  }

  .nav-list {
    margin-top: 4rem;
  }

  .nav-link {
    font-size: 1.425rem;
  }
}

.nav-toggle {
  padding: 1rem 0.425rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 1.2rem;
  top: 1rem;
  z-index: 1000;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: opacity 500ms;
}

.sticky {
  position: fixed;
  top: 1rem;
  opacity: 0.75;
  background: white;
  border: 1px solid var(--clr-med-lighter);
}

.nav-open .nav-toggle {
  top: 1.325rem;
  opacity: 1;
  border: 1px solid transparent;
}

.nav-open .nav {
  transform: translateX(0);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-header-med);
  width: 2.5em;
  height: 3px;
  border-radius: 1em;
  transition: transform 200ms;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 7px;
}
.hamburger::after {
  bottom: 7px;
}

.nav-open .hamburger,
.nav-open .hamburger::before,
.nav-open .hamburger::after {
  background: var(--clr-header-med);
}

.nav-open .nav-toggle.sticky .hamburger {
  background-color: var(--clr-header-med);
  opacity: 1;
}

.nav-open .nav-toggle {
  position: fixed;
  padding: 1em 0.5em;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-7px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

@media (min-width: 768px) {
  .nav-toggle {
    right: 1.5rem;
    top: 1.25rem;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-med-new);
    width: 3em;
    height: 3px;
    border-radius: 1.25em;
    transition: transform 200ms;
  }

  .hamburger::before {
    top: 9px;
  }

  .hamburger::after {
    bottom: 9px;
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-9px);
  }

  .sticky {
    top: 1.5rem;
  }
  .nav-open .nav-toggle {
    top: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .nav-toggle,
  .header,
  .nav {
    display: none;
  }
}

/* Side nav for screens >= 1200px */
@media (min-width: 1200px) {
  .large-screen-container {
    width: 100%;
    height: auto;
    display: flex;
  }

  .side-nav-container {
    display: block;
  }

  .business-name-container {
    background-color: var(--clr-business-name-bg-darker);
    width: 275px;
    padding: 1.475rem 1.425rem 1.425rem;
  }

  .business-name {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.9rem;
    width: 100%;
    text-align: center;
    padding-right: 0.25rem;
    /* padding-left: 0.325rem; */
  }

  .business-name-link {
    text-decoration: none;
  }

  strong {
    color: rgba(255, 255, 255, 1);
  }

  .tagline {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    padding: 0;
    padding-top: 0.15rem;
    padding-right: 0.425rem;
  }

  .side-nav {
    display: block;
    position: fixed;
    width: 275px;
    height: 100%;
    padding: 0;
    margin: 0;
    border-right: none;
    background-color: var(--clr-header-wide-lighter);
  }

  .side-nav-list {
    position: fixed;
    align-items: flex-start;
    width: 275px;
    top: 106px;
    padding: 0;
    margin: 0;
  }

  .side-nav-list li {
    text-transform: capitalize;
    list-style: none;
    text-align: left;
    color: rgba(255, 255, 255, 0.95);
    font-weight: var(--fw-reg);
    font-size: var(--fs-h5);
    margin: 0;
    padding: 0;
  }

  .side-nav-item {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1.625rem 0 0.425rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .side-nav-item:hover,
  .side-nav-item.active {
    background-color: var(--clr-header-wide-darker);
    border-bottom: 1px solid rgba(255, 255, 255, 0.95);
    color: white;
    transition: all 250ms;
  }

  .main-content {
    width: 100%;
    height: auto;
  }
}

/* About and Rates sections and sliders */
.about {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.about-text {
  padding: 0 1.625rem 0.75rem;
}

.about-text-show {
  display: none;
}

.about-header {
  display: none;
}

@media (min-width: 1200px) {
  h2.about-header {
    display: block;
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  h2.about-header {
    margin-bottom: 0;
  }
}

/* Main slider */
.slider {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin: 0.25rem auto 0;
  /* border: 1px solid var(--clr-med-lighter); */
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 400ms, opacity 400ms;
  padding-bottom: 2rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .slide.current-slide {
  opacity: 1;
} */

.slide-image {
  position: relative;
  width: 85%;
  height: auto;
  cursor: pointer;
  object-fit: contain;
}

.slider-btn {
  cursor: pointer;
  position: absolute;
  top: 47.5%;
  transform: translate(0, -50%);
  color: var(--clr-med-new);
  padding: 0.5rem 0.325rem 0.3rem;
  border: none;
  background: transparent;
  font-size: var(--fs-h2);
}

.slider-btn:hover {
  color: var(--clr-header-wide);
}

.slider-btn--right {
  right: 0;
}

.artist-title {
  color: var(--clr-reg-new);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: var(--fs-smallest);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.is-hidden {
  opacity: 0;
}

.dots {
  margin: 0.875rem auto 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.dots-dot {
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.75rem;
  padding: 0.325rem;
  cursor: pointer;
  background: var(--clr-med-new);
  border-radius: 50%;
  transition: all 250ms;
}

.dots-dot--active {
  background-color: var(--clr-header-med);
}

@media (min-width: 768px) {
  .slide {
    padding-top: 0.5rem;
  }

  .slide-image {
    width: 70%;
  }

  .slider-btn {
    font-size: 2.25rem;
    padding: 0.5rem;
  }

  .slider-btn--right {
    margin: 1.625rem;
  }

  .slider-btn--left {
    margin: 1.625rem;
  }

  .artist-title {
    bottom: 0rem;
    font-size: var(--fs-smaller);
  }

  .dots-dot {
    padding: 0.375rem;
  }
}

@media (min-width: 1024px) {
  .slide {
    padding-top: 0.25rem;
  }

  .slide-image {
    width: 65%;
  }

  .slider-btn {
    font-size: 2.375rem;
    padding: 0.25rem;
  }

  .slider-btn--right {
    margin: 2.5rem;
  }

  .slider-btn--left {
    margin: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .slider-btn--right {
    margin: 0;
  }

  .slider-btn--left {
    margin: 0;
  }
}

/* Expanded slider feature */
.expand-slider-icon {
  color: var(--clr-med-new);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 0.875rem;
  bottom: 0.05rem;
  cursor: pointer;
  overflow: visible;
  z-index: 100;
  background: none;
  padding: 0;
  overflow: visible;
}

.expand-slider-icon .expand-outline {
  align-self: flex-end;
  font-size: 2rem;
}

.expand-text {
  font-size: var(--fs-smaller);
}

.expand-slider-icon:hover {
  color: var(--clr-header-wide);
}

/* Expanded slider */
.close-expanded-slider {
  display: none;
}

@media (min-width: 1280px) {
  .slide-image {
    width: 80%;
  }

  .dots {
    margin-top: 1rem;
  }

  .dots-dot {
    margin: 0 1.275rem;
  }

  .expand-slider-icon {
    display: flex;
  }

  .slider-container--expanded .expand {
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: white;
  }

  .slider-container.expand {
    z-index: 100;
    background-color: white;
  }

  .slider-container.expand .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -0.5rem auto 0;
    padding: 0;
    overflow: visible;
    background: white;
  }

  .slider-container.expand .is-invisible {
    opacity: 1;
  }

  .slider-container.expand .slide {
    padding-bottom: 0;
    width: 100%;
  }

  .slider-container.expand .slide-image {
    width: 67.5%;
    cursor: default;
    object-fit: contain;
  }

  .slider-container.expand .expand-slider-icon {
    display: none;
  }

  .slider-container.expand .close-expanded-slider {
    display: block;
    position: absolute;
    color: var(--clr-med-new);
    font-size: 3.75rem;
    cursor: pointer;
    z-index: 100;
    right: 1rem;
    top: 0.5rem;
    transition: color 250ms;
  }

  .slider-container.expand .close-expanded-slider:hover {
    color: var(--clr-header-wide);
  }

  .slider-container.expand .artist-title {
    bottom: -1rem;
    font-size: var(--fs-small);
  }

  .slider-container.expand .dots {
    height: 3rem;
    padding: 0;
    margin: 0.875rem auto 2rem;
  }

  .slider-container.expand .slider-btn {
    position: fixed;
    font-size: 2.75rem;
    top: 46.5%;
    transform: translate(0, -50%);
  }

  .slider-container.expand .slider-btn--left {
    left: 20%;
  }

  .slider-container.expand .slider-btn--right {
    right: 20%;
  }
}

/* Sections */
.section-container {
  width: 100%;
  height: auto;
  border-top: 1px solid var(--clr-med-lighter);
}

.section-container.no-border {
  border-top: none;
}

/* Inverse color for smaller screens */

@media (max-width: 1199px) {
  .section-inverse {
    background-color: var(--clr-header-wide-darker);
  }

  .section-inverse h2,
  .section-inverse h3,
  .section-inverse ul,
  .section-inverse li::marker,
  .section-inverse p,
  .section-inverse a {
    color: white;
    opacity: 0.9;
  }

  .section-inverse h3 {
    opacity: 0.9;
  }

  .section-inverse li::marker {
    opacity: 0.75;
  }

  .section-inverse p,
  .section-inverse a {
    opacity: 0.95;
  }

  .section-inverse a:hover {
    text-decoration: none;
  }

  .section-inverse .section-header {
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  }
}

.services,
.schedule,
.contact {
  padding: 2.275rem 1.625rem;
}

.rates {
  padding-bottom: 2.275rem;
}

@media (min-width: 768px) {
  .about {
    padding-top: 1.5rem;
  }

  .about-text {
    padding: 0 3.5rem 0.75rem;
  }

  .about-text:first-of-type {
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .about-text:first-of-type {
    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .services,
  .schedule,
  .contact {
    padding: 2.75rem 3.5rem;
  }
}

@media (min-width: 1200px) {
  .about,
  .services,
  .schedule,
  .contact {
    padding: 2.25rem 3.25rem 2.75rem;
    width: 100%;
    height: auto;
  }

  .about {
    padding-bottom: 2rem;
  }

  .about-text {
    padding: 1.25rem 0 0.75rem;
  }

  .section-container {
    width: 100%;
    height: auto;
    padding-left: 275px;
  }

  .section-container.bg {
    background-color: white;
  }
}

@media (min-width: 1280px) {
  .about,
  .services,
  .rates,
  .schedule,
  .contact {
    padding: 2.25rem 3rem 3rem;
    width: 100%;
    height: auto;
  }

  .schedule {
    height: 100vh;
  }
}

@media (min-width: 1400px) {
  .about,
  .services,
  .rates,
  .schedule,
  .contact {
    padding: 2.25rem 3.5rem 3rem;
    width: 100%;
    height: auto;
  }

  .schedule {
    height: 100vh;
  }
}

/* Max-width for desktop and large monitors */
@media (min-width: 2050px) {
  .section-container {
    max-width: 1950px;
  }
}

.section-header {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  color: var(--clr-header-wide);
  text-transform: uppercase;
  border-bottom: 1px solid var(--clr-med-lighter);
}

.section-subheader {
  padding: 1.125rem 0 1rem;
  color: var(--clr-header-wide);
}

.section-paragraph {
  padding-bottom: 0.875rem;
}

@media (min-width: 1200px) {
  .section-header {
    font-size: 1.625rem;
    padding-bottom: 0.875rem;
    color: var(--clr-header-wide);
  }

  .section-paragraph.extra-bottom-padding {
    padding-bottom: 1.75rem;
  }
}

/* Side by side layouts on wide screens */
@media (min-width: 1280px) {
  .about-text {
    padding-top: 0;
  }

  .about-text-hide {
    display: none;
  }

  .about-text-show {
    display: block;
  }

  .slider-side-text-container {
    display: grid;
    grid-template-columns: 65% 32%;
    column-gap: 3%;
  }

  .slider-container {
    padding-top: 0.125rem;
  }

  .about-side-text {
    padding: 0;
    padding-top: 2rem;
  }
}

@media (min-width: 1400px) {
  .slider-side-text-container {
    display: grid;
    grid-template-columns: 65% 30%;
    column-gap: 5%;
  }

  .about-side-text {
    padding-top: 2.5rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1600px) {
  .slider-side-text-container {
    display: grid;
    grid-template-columns: 57.5% 35%;
    column-gap: 5%;
  }

  .about-side-text {
    padding-top: 4rem;
    padding-right: 2.5rem;
  }
}

/* Services section */
.studio-image {
  margin: 1.25rem auto;
  border: 1px solid var(--clr-med-lighter);
  width: 100%;
  object-fit: contain;
}

.services-list li {
  padding-left: 0.5rem;
  margin-left: 1.25rem;
}

/* Services text to left, image to right at wider screens */
@media (min-width: 1280px) {
  .section-subheader--services {
    padding-top: 1.125rem;
  }

  .text-side-image-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    margin-bottom: 1.325rem;
  }

  .studio-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -2rem;
    border: 1px solid var(--clr-med-lighter);
  }

  .side-by-side-text {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    margin-top: 1.75rem;
    padding: 1.75rem 1.75rem 1.25rem;
    border: 1px solid var(--clr-med-light);
    background-color: var(--clr-light-form);
  }

  .section-subheader--side {
    padding: 0;
    padding-bottom: 0.75rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--clr-med-lighter);
  }
}

/* Rates section and tier pricing */
.section-header--rates {
  margin: 0 1.625rem 1rem;
  padding: 2.275rem 0 1rem;
}

.rates .section-subheader {
  margin-top: 0;
  margin-right: 1.625rem;
  margin-left: 1.625rem;
}

.section-subheader.top {
  border-top: 1px solid var(--clr-med-lighter);
}

.section-paragraph--wide {
  display: none;
}

.section-paragraph--rates {
  padding-right: 1.625rem;
  padding-left: 1.625rem;
}

ul.file-format-list {
  margin: 0.125rem 1.625rem 0.5rem;
}

.file-format-list li {
  padding-left: 0.5rem;
  margin-left: 1.25rem;
}

@media (min-width: 768px) {
  .section-header--rates,
  .section-paragraph--rates,
  .rates .section-subheader {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }

  .section-paragraph--rates {
    padding-left: 0;
  }

  ul.file-format-list {
    margin: 0 3.5rem 0.375rem;
  }
}

@media (min-width: 1280px) {
  .section-header--rates {
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
  }

  .section-paragraph--rates {
    padding-right: 0;
  }
}

.tier--container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.tier--description {
  display: grid;
  grid-template-columns: 25% 70%;
  column-gap: 5%;
  border-top: 1px solid var(--clr-med-lighter);
  padding: 1.25rem 0 0;
  margin-right: 1.625rem;
  margin-left: 1.625rem;
}

.tier--subheader {
  padding-top: 0.325rem;
  color: var(--clr-header-wide);
  flex-wrap: nowrap;
}

ul.tier--list {
  list-style-type: none;
  /* border-bottom: 1px solid var(--clr-med-lighter); */
}

.tier--price {
  font-weight: 500;
  color: var(--clr-reg-new);
  font-size: 1rem;
  margin-top: 0;
  padding-right: 1.625rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-med-lighter);
  margin-bottom: 0.75rem;
}

.tier--example-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.325rem 0 0.75rem;
  position: relative;
}

@media (min-width: 768px) {
  .tier--example-container {
    padding: 0.125rem 0 0.625rem;
  }

  .tier--example-container-static {
    padding-bottom: 0rem;
  }

  .tier--description {
    grid-template-columns: 20% 75%;
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }

  .tier--subheader {
    margin-left: 0;
  }

  .tier--price {
    padding-right: 0;
  }

  ul.tier--list {
    padding-right: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .tier--description {
    grid-template-columns: 15% 80%;
  }
}

@media (min-width: 1280px) {
  .tier--description {
    grid-template-columns: 20% 75%;
  }

  .section-paragraph--rates {
    margin: 0;
  }
}

/* Rates sample sliders */
.sample-slider--static,
.sample-slider,
.sample-slider-2 {
  position: relative;
  height: auto;
  width: 100%;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  margin: 0 auto;
  /* background-color: lightgray; */
}

.sample-slider--track,
.sample-slider--track-2 {
  list-style-type: none;
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 400ms ease-in-out;
}

.sample-slider--slide,
.sample-slider--slide-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 350ms;
}

.sample-slider--slide.current-slide,
.sample-slider--slide-2.current-slide-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  opacity: 1;
}

.sample-slider--image-static,
.sample-slider--image,
.sample-slider--image-2 {
  position: relative;
  width: 85%;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  cursor: pointer;
}

.sample-slider--btn,
.sample-slider--btn-2 {
  position: absolute;
  top: 48.5%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--clr-med-new);
  padding: 0.5rem 0.325rem 0.3rem;
  border: none;
  background: transparent;
  font-size: var(--fs-h2);
  /* transition: 100ms; */
}

.sample-slider--btn:hover,
.sample-slider--btn-2:hover {
  color: var(--clr-header-wide);
}

.sample-slider--btn-right,
.sample-slider--btn-right-2 {
  position: absolute;
  right: 0;
}

.sample-slider--btn-left,
.sample-slider--btn-left-2 {
  position: absolute;
  left: 0;
}

.sample-slider--title,
.sample-slider--title-2 {
  color: var(--clr-reg-new);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: var(--fs-smallest);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sample-slider--nav-dots,
.sample-slider--nav-dots-2 {
  width: 100%;
  position: absolute;
  bottom: 0.175rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  overflow: visible;
}

.sample-slider--nav-dot,
.sample-slider--nav-dot-2 {
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 1rem;
  padding: 0.325rem;
  cursor: pointer;
  background: var(--clr-med-new);
  border-radius: 50%;
  transition: all 250ms;
}

.sample-slider--nav-dot.current-slide,
.sample-slider--nav-dot-2.current-slide-2 {
  background-color: var(--clr-header-med);
}

.static-close-icon,
.sample-close-icon,
.sample-close-icon-2 {
  display: none;
}

.expand-slider-icon-sample,
.expand-slider-icon-sample {
  visibility: hidden;
}

@media (min-width: 768px) {
  .sample-slider--image-static,
  .sample-slider--image,
  .sample-slider--image-2 {
    width: 60%;
  }

  .sample-slider--btn,
  .sample-slider--btn-2 {
    font-size: 2.25rem;
    padding: 0.5rem;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 4.5rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 4.5rem;
  }

  .sample-slider--nav-dot,
  .sample-slider--nav-dot-2 {
    padding: 0.375rem;
  }
}

@media (min-width: 1024px) {
  .sample-slider--image-static,
  .sample-slider--image,
  .sample-slider--image-2 {
    width: 65%;
    max-width: 520px;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 5.5rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 5.5rem;
  }

  .expand-slider-icon-sample .expand-outline {
    visibility: visible;
    font-size: 1.675rem;
    position: absolute;
    color: var(--clr-med-new);
    bottom: 0.5rem;
    right: 6.5rem;
    cursor: pointer;
  }

  .expand-slider-icon-sample .expand-outline:hover {
    color: var(--clr-header-wide);
  }

  /* Fullscreen sample view */
  .sample-static-container.expand .is-invisible,
  .sample-slider-container.expand .is-invisible,
  .sample-slider-container-2.expand .is-invisible {
    opacity: 1;
  }

  .static-close-icon,
  .sample-close-icon,
  .sample-close-icon-2 {
    display: none;
    position: absolute;
    color: var(--clr-med-new);
    font-size: 3.5rem;
    cursor: pointer;
    z-index: 100;
    right: 1rem;
    top: 0.5rem;
    transition: color 250ms;
  }

  .static-close-icon.active,
  .sample-close-icon.active,
  .sample-close-icon-2.active {
    display: block;
  }

  .static-close-icon.active:hover,
  .sample-close-icon.active:hover,
  .sample-close-icon.active-2:hover {
    color: var(--clr-header-wide);
  }

  .sample-static-container.expand,
  .sample-slider-container.expand,
  .sample-slider-container-2.expand {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sample-static-container.expand .sample-slider--image-static {
    width: 93.5%;
    height: auto;
    max-width: 900px;
    margin-top: -1.75rem;
    cursor: auto;
  }

  .sample-slider-container.expand .sample-slider,
  .sample-slider-container-2.expand .sample-slider-2 {
    position: relative;
    height: auto;
    width: 100%;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    margin: auto;
  }

  .sample-slider-container.expand .sample-slider--track,
  .sample-slider-container-2.expand .sample-slider--track-2 {
    padding-bottom: 0;
    width: 100%;
    height: auto;
  }

  .sample-slider-container.expand .sample-slider--slide,
  .sample-slider-container-2.expand .sample-slider--slide-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    transition: opacity 350ms;
  }

  .sample-slider-container.expand .sample-slider--image,
  .sample-slider-container-2.expand .sample-slider--image-2 {
    width: 100%;
    max-width: 93.5%;
    height: auto;
    cursor: default;
    opacity: 1;
    margin-top: -0.75rem;
  }

  .sample-slider-container.expand .artist-title,
  .sample-slider-container-2.expand .artist-title-2 {
    bottom: -1rem;
    font-size: var(--fs-small);
  }

  .sample-slider-container.expand .sample-slider--nav-dots,
  .sample-slider-container-2.expand .sample-slider--nav-dots-2 {
    height: 4rem;
    padding-bottom: 0;
    margin: 0 auto;
  }

  .sample-slider-container.expand .sample-slider--nav-dot,
  .sample-slider-container-2.expand .sample-slider--nav-dot-2 {
    margin: 0 1.25rem;
    padding: 0.4rem;
  }

  .sample-slider-container.expand .sample-slider--btn,
  .sample-slider-container-2.expand .sample-slider--btn-2 {
    position: fixed;
    font-size: 3.25rem;
    top: 47.5%;
    transform: translate(0, -50%);
  }

  .sample-slider-container.expand .sample-slider--btn-left,
  .sample-slider-container-2.expand .sample-slider--btn-left-2 {
    left: 1.25rem;
  }

  .sample-slider-container.expand .sample-slider--btn-right,
  .sample-slider-container-2.expand .sample-slider--btn-right-2 {
    right: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .file-format-text-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    width: 100%;
    padding: 0.25rem 0 0.5rem;
    margin: 0;
  }

  ul.file-format-list {
    padding: 0;
    margin: 0;
  }

  .section-paragraph--hide {
    display: none;
  }

  .section-paragraph--wide {
    display: block;
  }

  .tier--container {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 2.5%;
    border-top: 1px solid var(--clr-med-lighter);
    padding-top: 0.75rem;
    padding-bottom: 0;
  }

  .sample-slider--image-static {
    margin-bottom: 0rem;
  }

  .sample-slider--image-static,
  .sample-slider--image,
  .sample-slider--image-2 {
    width: 60%;
  }

  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 3rem;
    font-size: 1.875rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 3rem;
    font-size: 1.875rem;
  }

  .expand-slider-icon-sample .expand-outline {
    right: 3.75rem;
  }

  .sample-slider--nav-dot,
  .sample-slider--nav-dot-2 {
    padding: 0.325rem;
    margin: 0 0.75rem;
  }

  /* Expanded sample images */
  .sample-slider-container.expand .sample-slider--btn-left,
  .sample-slider-container-2.expand .sample-slider--btn-left-2 {
    left: 7.5%;
  }

  .sample-slider-container.expand .sample-slider--btn-right,
  .sample-slider-container-2.expand .sample-slider--btn-right-2 {
    right: 7.5%;
  }

  .tier--description {
    margin: 0;
    border: none;
  }

  .tier--subheader {
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
  }

  .tier--price {
    margin-top: -0.325rem;
  }

  ul.tier--list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }

  .rates .section-subheader--side {
    border-top: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0.75rem;
    margin-left: 0;
    padding: 0;
    padding-bottom: 0.75rem;
  }

  .section-subheader.payment-methods {
    margin-top: 0.375rem;
  }

  .rates .side-by-side-text {
    margin-top: 1rem;
  }
}

@media (min-width: 1400px) {
  .sample-slider--btn-right,
  .sample-slider--btn-right-2 {
    right: 4rem;
    font-size: 1.875rem;
  }

  .sample-slider--btn-left,
  .sample-slider--btn-left-2 {
    left: 4rem;
    font-size: 1.875rem;
  }

  .expand-slider-icon-sample .expand-outline {
    right: 4.75rem;
  }
  /* Expanded sample images */
  .sample-slider-container.expand .sample-slider--btn-left,
  .sample-slider-container-2.expand .sample-slider--btn-left-2 {
    left: 15%;
  }

  .sample-slider-container.expand .sample-slider--btn-right,
  .sample-slider-container-2.expand .sample-slider--btn-right-2 {
    right: 15%;
  }
}

/* Get started section */
.get-started--form-container {
  width: 100%;
}
.get-started-form {
  margin-bottom: 1rem;
}

.get-started-form input,
.get-started-form textarea {
  width: 100%;
  background-color: var(--clr-light-form);
}

.get-started-form label {
  color: white;
  opacity: 0.9;
}

.form-wide input {
  width: 100%;
  margin-bottom: 1rem;
}

.photoshoot-text {
  margin: 0.5rem 0 0.375rem;
}

.get-started-form textarea {
  margin-top: 0.5rem;
}

/* Custom radio button */
.photoshoot-location-container {
  display: block;
  position: relative;
  width: 75%;
  padding-left: 2.25rem;
  margin: 0.75rem;
  margin-left: 0;
  cursor: pointer;
  font-size: inherit;
  user-select: none;
}

.photoshoot-location-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--clr-header-wide);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: 250ms;
}

.photoshoot-location-container:hover input ~ .checkmark {
  background-color: var(--clr-med-lighter);
}

.photoshoot-location-container input:checked ~ .checkmark {
  background-color: var(--clr-business-name-bg-darker);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.photoshoot-location-container input:checked ~ .checkmark:after {
  display: block;
}

.photoshoot-location-container .checkmark:after {
  top: 0.3125rem;
  left: 0.3125rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

.get-started-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto 0;
  padding: 1rem 2.75rem;
  text-align: center;
  background-color: var(--clr-business-name-bg-darker);
  color: rgba(255, 255, 255, 0.95);
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.get-started--form textarea {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: var(--fs-smaller);
  line-height: 1.4rem;
}

/* Contact section */
.contact-details {
  font-style: inherit;
  line-height: 1.75;
  font-size: var(--fs-small);
  color: var(--clr-reg-new);
}

.contact-details a {
  text-decoration: none;
  line-height: 1.75;
}

.contact-details a:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: var(--clr-light-form);
  border: 1px solid var(--clr-med-lighter);
}

@media (min-width: 768px) {
  .form-container {
    margin: 1rem auto;
    width: 75%;
  }
}

input {
  border: 1px solid var(--clr-med-lighter);
  margin-bottom: 0.5rem;
  padding: 0.825rem;
  font-family: inherit;
  font-size: var(--fs-small);
}

textarea {
  border: 1px solid var(--clr-med-lighter);
  padding: 0.75rem;
  font-family: inherit;
  font-size: inherit;
  height: 5rem;
  /* width: auto; */
  height: 165px;
  resize: none;
}

.submit-button,
.get-started-form-button {
  display: inline-block;
  margin: 0.5rem auto 0;
  padding: 1rem 2.75rem;
  text-align: center;
  background-color: var(--clr-header-med);
  border-top: none;
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
}

.submit-button:hover {
  background-color: var(--clr-header-wide);
}

.contact {
  padding-bottom: 2rem;
}

.contact-details-container {
  text-align: center;
}

.contact-details-sub-container {
  margin-bottom: 0;
}

.contact-sub-header {
  display: block;
  padding: 0.75rem 0 0.75rem;
  margin: 0 auto 0.5rem;
  width: 35%;
  text-align: center;
  border-bottom: 1px solid var(--clr-med-lighter);
}

.contact-details--address {
  padding-bottom: 0.5rem;
}

.contact-details-sub-container--hours {
  padding-bottom: 0.75rem;
}

.contact-details-sub-container:last-of-type {
  padding-bottom: 1.325rem;
}

.google-map--responsive {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
  margin: 0.775rem 0 0.9rem;
  border: 1px solid var(--clr-med-lighter);
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.address-link {
  text-decoration: none;
}

.address-link:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .contact-container {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 7.5%;
  }

  .contact-details {
    font-size: var(--fs-reg);
  }

  .contact-details-container {
    text-align: left;
    min-width: 350px;
  }

  .contact-details-sub-container {
    margin-bottom: 0rem;
  }

  h3.contact-sub-header {
    text-align: left;
    width: 50%;
    margin: 0.275rem 0 1rem;
  }

  .section-paragraph--contact {
    padding-top: 1rem;
  }

  .form-container {
    width: 100%;
    padding: 0.75rem;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    display: grid;
    grid-template-columns: 45% 1fr;
    column-gap: 5%;
  }

  .contact-details-container {
    padding-left: 0rem;
  }

  .form-container {
    width: 100%;
    padding: 0.75rem;
  }

  .submit-button {
    padding: 1.25rem 3.25rem;
  }
}

@media (min-width: 1280px) {
  .google-map-small {
    display: none;
  }

  .google-map-medium {
    display: block;
    margin: 1.25rem 0 1rem;
    overflow: hidden;
    max-width: 400px;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 45% 1fr;
    column-gap: 10%;
  }

  .contact-details-container {
    padding-left: 0rem;
  }

  .contact-form {
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .contact-container {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 7.5%;
    margin-bottom: 2rem;
  }

  .contact-form {
    margin: 0 auto;
    padding-right: 2.75rem;
  }
}

/* Footer */
.footer {
  font-size: var(--fs-smallest);
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--clr-business-name-bg);
  padding: 1.25rem 1.625rem 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: inherit;
  text-decoration: none;
  margin-top: 0.375rem;
  cursor: pointer;
}

.footer-icon {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.75rem;
  padding: 0;
  padding-top: 0.2rem;
}

.scroll-arrow {
  color: rgba(255, 255, 255, 0.85);
  font-size: 2.875rem;
}

.footer-link:hover,
.footer-icon:hover,
.scroll-arrow:hover {
  color: white;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer {
    font-size: var(--fs-smaller);
    padding: 1.675rem 2.125rem 1.675rem 2rem;
  }
  .scroll-arrow {
    font-size: 3rem;
  }
}

.side-nav-footer {
  display: none;
}

@media (min-width: 1200px) {
  .footer {
    display: none;
  }

  .side-nav-footer {
    display: block;
    position: fixed;
    bottom: 1.75rem;
    left: 1.75rem;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    background-color: none;
  }
}
